@charset "utf-8";
@font-face { 
    font-family: ChopinScript; 
    src: url('chopin_script/ChopinScript.eot');
    src: url('chopin_script/ChopinScript.eot?#iefix') format('embedded-opentype'), 
    url('chopin_script/ChopinScript.woff2') format('woff2'),
    url('chopin_script/ChopinScript.woff') format('woff'),
    url('chopin_script/ChopinScript.svg#svgFontName') format('svg'),
    url('chopin_script/ChopinScript.ttf') format('truetype');
    font-style: normal; 
    font-display: swap;
 }
/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html,
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
   margin: auto;
   padding: auto;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


/* Set the default page element styles */

body {
   line-height: 1.2em;
}

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
} 