@charset "utf-8";
@font-face { 
   font-family: ChopinScript; 
   src: url('chopin_script/ChopinScript.eot');
   src: url('chopin_script/ChopinScript.eot?#iefix') format('embedded-opentype'), 
   url('chopin_script/ChopinScript.woff2') format('woff2'),
   url('chopin_script/ChopinScript.woff') format('woff'),
   url('chopin_script/ChopinScript.svg#svgFontName') format('svg'),
   url('chopin_script/ChopinScript.ttf') format('truetype');
   font-style: normal; 
   font-display: swap;
}


html {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 209, 235));
    min-height: 100%;
 }
 
 body { 
    margin: 0px auto;
    min-width: 340px; 
    width: 100%;
    min-height: 100%;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
 }
 
 @keyframes fadeInAnimation {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}


 /* Header styles */
 
 header {
    background: rgb(255, 255, 255);
    position: sticky;
    width: 100%;
    animation: easeOutLeft ease-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 30px;
 }

@keyframes easeOutLeft {
   0% {
      left: -2000px;
   }
   100% {
      left: 0px;
   }
}

 /* Navigation list styles */
 
 header nav.horizontal {
    bottom: 0px;
    left: 0px;
    width: 100%;
    -webkit-flex: 0 1;
    flex: 0 1;   
 }
 
 body header nav ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
 }
 
 nav.horizontal ul li {
    -webkit-flex: 1 1;
    flex: 1 1;
    background-color: rgb(255, 255, 255);
    display: block;
    color: rgb(174, 74, 128);
    border-bottom: solid 2px rgb(174, 74, 128);
    text-align: left;
    font-family: 'Arial', sans-serif; 
        
 }
 
 nav.horizontal ul li a {
    color: rgb(174, 74, 128);
    text-decoration: none;
    font-size: 1em;
    line-height: 1em;
    height: 1.2em;
    text-shadow: none;
    transition: text-shadow 2s, color 2s;
 }

 nav.horizontal ul li a:hover {
   color: rgb(103, 59, 75);
   text-shadow: 1px 0 20px rgb(174, 74, 128);
 }
 
 
 /* Section Styles */
 
section { 
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 209, 235));
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; 
 }

h1 {
   font-size: 10em;
   margin: 10px 170px;
   color: white;
   font-family: ChopinScript, Helvetica;
   text-shadow: -3px -3px 0 rgb(255, 209, 235), 3px -3px 0 rgb(174, 74, 128), 
   3px 3px 0 rgb(174, 74, 128), 3px 3px 0 rgb(174, 74, 128);
}


p {
   margin: 3% 10%;
   line-height: 2em;
   text-align: center;
   font-size: 1.75em;
   color: rgb(103, 59, 75);
   text-shadow: 1px 0 20px rgb(174, 74, 128);
 }

 .body p a {
   text-decoration: none;
   color: rgb(103, 59, 75);
 }

 .twoColumns{
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

 /* Image Styles */

 #albylogo {
    position: relative;
    display: block;
    margin-left: auto;
    right: 15%;
    float: right;
    width: 600px;
    z-index: 10;
 }

 #pastries1 {
    max-width: 100%;
    height: 200px;
    filter: saturate(1.5) contrast(1.5);
    object-fit: cover;
    object-position: 0 25%;
    display: block;
    border-top: solid 1.25em white;
    border-bottom: solid 1.25em white;
 }

#head img {
   display: block;
   position: relative;
   margin: 20px;
   width: 100%;
   height: auto;
   object-fit: contain;
}

 /* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {
  html {
    width: 100%;
  }

  header nav {
     padding-bottom: 5px;
  }
  
  header nav ul {
     display: none;
  }
  
  header nav ul li {
     line-height: 1.3em;
     height: 1.3em;
  }
  
  a#navicon:hover+ul, header nav ul:hover {
     display: block;
  }
  
  h1 {
     font-size: 80px;
     text-shadow: none;
     margin: 10px;
     color: rgb(255, 209, 235);
  }

  #albylogo {
    width: 300px;
    margin-top: 100px;
    float: center;
    position: absolute;
  }
}


/* =============================================
  Tablet and Desktop Styles: greater than 640px
  =============================================
*/
@media only screen and (min-width: 641px) {
   
  header nav ul {
     display: -webkit-flex;
     display: flex;
     -webkit-flex-flow: row nowrap;
     flex-flow: row nowrap;
     -webkit-justify-content: center;
     justify-content: center;
  }
  
  header nav ul li {
     -webkit-flex: 0 1 auto;
     flex: 0 1 auto;
  }
}
